<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xuni.Android.ChartCore" version="2.3.20162.111" targetFramework="MonoAndroid51" />
  <package id="Xuni.Android.Core" version="2.3.20162.111" targetFramework="MonoAndroid51" />
  <package id="Xuni.Android.FlexPie" version="2.3.20162.111" targetFramework="MonoAndroid51" />
</packages>